<a href="https://colab.research.google.com/github/Renata-Romanelli/Challenge_Data_Science/blob/main/Alura_Challenge_Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Alura Challenge - Data Science** 

Renata Romanelli 09/05/2022

E-mail: reromanelli.c@gmail.com

Github: https://github.com/Renata-Romanelli

## Week 1

You have been hired as a data scientist by the telecom operator **Alura Voz**. In the initial meeting with the people responsible for the company's sales area, the importance of **reducing the Customer Evasion Rate**, known as **Churn Rate**, was explained. Basically, the Churn Rate indicates how much the company lost revenue or customers in a period of time.

Challenges:
- Understand the dataset information
- Analyse data types
- Check for inconsistencies in the data
- Fix data incosistencies
- Create daily account columns

#### Dicionário de dados

* `customerID`: número de identificação único de cada cliente
* `Churn`: se o cliente deixou ou não a empresa 
* `gender`: gênero (masculino e feminino) 
* `SeniorCitizen`: informação sobre um cliente ter ou não idade igual ou maior que 65 anos 
* `Partner`:  se o cliente possui ou não um parceiro ou parceira
* `Dependents`: se o cliente possui ou não dependentes
* `tenure`:  meses de contrato do cliente
* `PhoneService`: assinatura de serviço telefônico 
* `MultipleLines`: assisnatura de mais de uma linha de telefone 
* `InternetService`: assinatura de um provedor internet 
* `OnlineSecurity`: assinatura adicional de segurança online 
* `OnlineBackup`: assinatura adicional de backup online 
* `DeviceProtection`: assinatura adicional de proteção no dispositivo 
* `TechSupport`: assinatura adicional de suporte técnico, menos tempo de espera
* `StreamingTV`: assinatura de TV a cabo 
* `StreamingMovies`: assinatura de streaming de filmes 
* `Contract`: tipo de contrato
* `PaperlessBilling`: se o cliente prefere receber online a fatura
* `PaymentMethod`: forma de pagamento
* `Charges.Monthly`: total de todos os serviços do cliente por mês
* `Charges.Total`: total gasto pelo cliente

In [ ]:
# Load data

import pandas as pd

url_data = 'https://github.com/sthemonica/alura-voz/blob/main/Dados/Telco-Customer-Churn.json?raw=true'

data = pd.read_json(url_data)
data.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [ ]:
data.shape

(7267, 6)

### Oppening the JSON's inside the columns

In [ ]:
data_customer = pd.json_normalize(data=data.customer)
data_customer.head()

   gender  SeniorCitizen Partner Dependents  tenure
0  Female              0     Yes        Yes       9
1    Male              0      No         No       9
2    Male              0      No         No       4
3    Male              1     Yes         No      13
4  Female              1     Yes         No       3

In [ ]:
data_phone = pd.json_normalize(data=data.phone)
data_phone.head()

  PhoneService MultipleLines
0          Yes            No
1          Yes           Yes
2          Yes            No
3          Yes            No
4          Yes            No

In [ ]:
data_internet = pd.json_normalize(data=data.internet)
data_internet.head()

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No

In [ ]:
data_account = pd.json_normalize(data=data.account, sep='_')
data_account.head()

,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,One year,Yes,Mailed check,65.6,593.3
1,Month-to-month,No,Mailed check,59.9,542.4
2,Month-to-month,Yes,Electronic check,73.9,280.85
3,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Month-to-month,Yes,Mailed check,83.9,267.4

In [ ]:
# Concatenating the open data
open_data = pd.concat([data[['customerID', 'Churn']], data_customer, data_phone, data_internet, data_account], axis=1)
open_data.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [ ]:
print(f'The concatenated DataFrame contains {open_data.shape[0]} rows and {open_data.shape[1]} columns.')

The concatenated DataFrame contains 7267 rows and 21 columns.

### Trabalhando com dataset aberto

In [ ]:
open_data.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges_Monthly',
       'Charges_Total'],
      dtype='object')

In [ ]:
open_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges_Monthly   7267 non-null   float64
 20  Charges_Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

## Data types:

- Quantitative: 
  
  tenure, Charges.Monthly, Charges.Total

- Qualitative: 
  
  customerID, Churn, gender, SeniorCitizen, Partner, Dependents,PhoneService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod

## Analysing data

Qualitative data:

In [ ]:
open_data.Churn.unique()

array(['No', 'Yes', ''], dtype=object)

In [ ]:
open_data.gender.unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
open_data.SeniorCitizen.unique()

array([0, 1])

In [ ]:
open_data.Partner.unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
open_data.Dependents.unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
open_data.PhoneService.unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
open_data.MultipleLines.unique()

array(['No', 'Yes', 'No phone service'], dtype=object)

In [ ]:
open_data.InternetService.unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [ ]:
open_data.OnlineSecurity.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [ ]:
open_data.OnlineBackup.unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [ ]:
open_data.DeviceProtection.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [ ]:
open_data.TechSupport.unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [ ]:
open_data.StreamingTV.unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [ ]:
open_data.StreamingMovies.unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [ ]:
open_data.Contract.unique()

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

In [ ]:
open_data.PaperlessBilling.unique()

array(['Yes', 'No'], dtype=object)

Quantitative data:

In [ ]:
open_data.tenure.count()

7267

In [ ]:
open_data.Charges_Monthly.count()

7267

In [ ]:
open_data.Charges_Total.count()

7267

In [ ]:
open_data.query('tenure == " "')

Empty DataFrame
Columns: [customerID, Churn, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, Charges_Monthly, Charges_Total]
Index: []

[0 rows x 21 columns]

In [ ]:
open_data.query('Charges_Monthly == " "')

Empty DataFrame
Columns: [customerID, Churn, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, Charges_Monthly, Charges_Total]
Index: []

[0 rows x 21 columns]

In [ ]:
open_data.query('Charges_Total == " "')

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,

Replacing empty data

In [ ]:
open_data.Charges_Total = open_data.Charges_Total.replace(" ", 0)
open_data.Churn = open_data.Churn.replace('', 'No information')

In [ ]:
open_data.Churn.unique()

array(['No', 'Yes', 'No information'], dtype=object)

In [ ]:
open_data.query('Charges_Total == " "')

Empty DataFrame
Columns: [customerID, Churn, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, Charges_Monthly, Charges_Total]
Index: []

[0 rows x 21 columns]

Check duplicates or irrelevant observaitions

In [ ]:
open_data.duplicated().value_counts()
#no duplicated data
#in case of duplicated - True: Use dro_duplicates()

False    7267
dtype: int64

The columns "SeniorCitizen" do not follow the pattern of the rest of the Dataset. Instead of "Yes" or "No" the data presents 0 and 1.

In [ ]:
map =  {1:'Yes', 0:'No'}
open_data['SeniorCitizen'].replace(map, inplace=True)

In [ ]:
open_data['SeniorCitizen'].unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
open_data['tenure'].min()

0

In [ ]:
open_data['tenure'].max()

72

In [ ]:
open_data['Charges_Monthly'].min()

18.25

In [ ]:
open_data['Charges_Monthly'].max()

118.75

In [ ]:
open_data['Charges_Total'].min()

TypeError: ignored

In [ ]:
open_data['Charges_Total'] = pd.to_numeric(open_data['Charges_Total'])

In [ ]:
open_data['Charges_Total'].head()

0     593.30
1     542.40
2     280.85
3    1237.85
4     267.40
Name: Charges_Total, dtype: float64

In [ ]:
open_data['Charges_Total'].min()

0.0

In [ ]:
open_data['Charges_Total'].max()

8684.8

### Creating `Charges_daily` column in position 18 of the DataFrame

In [ ]:
Charges_daily = round(open_data['Charges_Monthly']/30, 2)

In [ ]:
open_data.insert(17, 'Charges_daily', Charges_daily)

In [ ]:
open_data.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,Charges_daily,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,2.19,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,2.00,No,Mailed check,59.9,542.40
2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,2.46,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,Yes,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,3.27,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,Yes,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,2.80,Yes,Mailed check,83.9,267.40

## Exporting Data

In [ ]:
data.to_csv('AluraVoz_Client_data.csv', index = False)
open_data.to_csv('AluraVoz_Client_data_clean.csv', index = False)